awscli
backports.ssl-match-hostname
botocore
colorama
decorator
docutils
Flask
futures
gcm
iniparse
itsdangerous
Jinja2
jmespath
MarkupSafe
pyasn1
pycurl
pygobject
pygpgme
pyliblzma
python-dateutil
python-geoip
python-geoip-geolite2
python-memcached
pyxattr
requests
rsa
s3transfer
six
slip
slip.dbus
urlgrabber
uWSGI
Werkzeug
yum-metadata-parser
