{% extends "base.html" %}
{% block content %}

 <div class="container">         
   <br><br>
  <div class="panel-heading"><b>Kunlik ko'chirib olingan darsliklar soni.</b></div>
  <table class="striped">
   <thead> 
    <tr>
     <td> Sana </td>
     <td> Apple </td>
     <td> Android </td>
     <td> Umumiy </td>
    </tr>
   </thead>
  <tbody>
  {% for item in all %}
     <tr> 
      <td> {{ item[0] }} </td> 
      <td> {{ item[3] }} </td> 
      <td> {{ item[2] }} </td> 
      <td> {{ item[1] }} </td> 
     </tr>
  {% endfor %}
   </tbody>
  </table>
 </div>
{% endblock %}



